section {
  margin: 0;
}

main section {
  transform: translate(50px, 150px);
}

.user-dashboard {
  width: 30%;
}

.booking-section {
  width: 60%;
}

.available-rooms-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  margin: 0;
  margin-top: -10%;
  height: 600px;
  overflow: auto;
}

img {
  width: 160px;
  height: 160px;
}

.smaller-set {
  display: grid;
  grid-gap: 2rem;
  margin: 0;
  margin-top: -10%;
  height: 600px;
  overflow: auto;
}

.available-rooms {
  width: 100%;
}

input {
  width: 40%;
}

.available-room {
  display: flex;
  justify-content: space-between;
}

.info-btn {
  height: 40px;
  width: 90px;
  align-self: center;
}
