.user-booking-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 270px;
  height: 400px;
  overflow: scroll;
}

.user-booking-section article {
  box-shadow: $main-box-shadow;
  border-bottom: 1px solid gray;
}

// UPCOMING BOOKING section

.upcoming {
  position: absolute;
  margin: 0;
  transform: translate(47px, 119px);
}

.upcoming-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 270px;
  height: 200px;
  overflow: scroll;
}

.upcoming-spacer {
  width: 100%;
}

.upcoming-container article {
  box-shadow: $main-box-shadow;
  border-bottom: 1px solid gray;
}
