/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
// ;
//
// body {
//   background: $primary-background;
// }
* {
  // border: 2px solid blue;
}



// LOGIN

.login-section {
  display: grid;
  place-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
  background-color: gray;
  margin-top: 15%;
  border-radius: 9px;
}

.login-form button {
  width: 150px;
  height: 50px;
  margin-top: 5%;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  transition: .2s all ease;
}

.login-form button:hover {
  width: 200px;
}


$main-grad: linear-gradient(90deg, #EA8372 0%, #FFB88C 100%);
$scrollbar-grad: linear-gradient(to top,#EA8372,#FFB88C);
$main-box-shadow: 0px 15px 100px -5px rgba(0,0,0,0.08);

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  width: 100%;
}

main {
  // margin-top: 8%;
}

main h1 {
  position: absolute;
  // margin-left: 2%;
}


// Dashboard




/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar-grad;
  width: 100%;
}

/* NAVIGATION BAR */


nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  background-color: white;
  color: #333333;
  width: 100vw;
  box-shadow: $main-box-shadow;
  // margin-bottom: 10%;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// figcaption {
//   position: absolute;
//   top: 5%;
//   right: 20%;
//   align-self: flex-end;
//   cursor: pointer;
// }
//
// figcaption::before {
//   font-family: 'Font Awesome 5 Free';
//   content: '\f083';
//   font-weight: 900;
//   position: absolute;
//   top: 4%;
//   left: -35%;
//   color: #D45D62;
//   transition: all .2s ease;
// }
//
// figcaption:hover::before {
//   transform: translateX(-12px);
// }
//
// figcaption::after {
//   color: #ffb88c;
//   font-family: 'Font Awesome 5 Free';
//   content: '\f83e';
//   font-weight: 900;
//   position: absolute;
//   top: 4%;
//   left: 109%;
//   transition: all .2s ease
// }
//
// figcaption:hover::after {
//   transform: translateX(12px);
// }

figure {
  width: 100%;
}

nav h1 {
  letter-spacing: .02em;
  font-weight: 700;
  margin-left: 1.5%;
  text-align: right;
}

.nav-spacer {
  height: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: -1;
  width: 100vw;
  transform: translate(-50%, -90%);
  background: rgb(237,166,146);
  background: $main-grad;
  box-shadow: 0px 15px 100px -5px rgba(0,0,0,0.08);
}

ul {
  display: flex;
  justify-content: space-around;
  width: 45%;
  margin-top: auto;
  margin-bottom: auto;
  list-style-type: none;
}

ul li {
  position: relative;
  z-index: 2;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 300;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

ul li::before {
  display: inline-block;
  position: relative;
  padding-right: 3px;
  vertical-align: middle;
  font-size: 14px;
  z-index: 1;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translate(-2px, -2px);
}

.one::before {
  font-family: "Font Awesome 5 Free";
  content: "\f4e3";
  font-weight: 900;
}
//
// .two::before {
//   font-family: "Font Awesome 5 Free";
//   content: "\f3e0";
//   font-weight: 900;
// }
//
// .three::before {
//   font-family: "Font Awesome 5 Free";
//   content: "\f4e3";
//   font-weight: 900;
// }

li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 5px;
  background: rgb(237,166,146);
  background: $main-grad;
  transition: all 0.2s 0s ease;
  z-index: -1;
}

.one::after {
  transform: translate(-66px, 17px);
}

// .two::after {
//   transform: translate(-54px, 17px);
// }
//
// .three::after {
//   transform: translate(-69px, 17px);
// }

li:hover::after {
  width: 82%;
}

.one:hover::after {
  width: 88%;
}


// PREVIOUS BOOKINGS SECTION

.spacer {
  background: $main-grad;
  width: 100%;
  height: 8px;
}

.user-booking-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 270px;
  height: 400px;
  overflow: scroll;
}

.user-booking-section article {
  box-shadow: $main-box-shadow;
  border-bottom: 1px solid gray;
}

// UPCOMING BOOKING section

.upcoming {
  position: absolute;
  margin: 0;
  transform: translate(47px, 119px);
}

.upcoming-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 270px;
  height: 200px;
  overflow: scroll;
}

.upcoming-spacer {
  width: 100%;
  // position: absolute;
  // transform: translate(48px, 145px);
  // z-index: -1;
}

.upcoming-container article {
  box-shadow: $main-box-shadow;
  border-bottom: 1px solid gray;
}


// MAIN BOOKING SECTION

main {
  display: flex;
  width: 100%;
}

section {
  margin: 0;
}

main section {
  // width: 60%;
  transform: translate(50px, 150px);
}

.user-dashboard {
  width: 30%;
}

.booking-section {
  width: 60%;
}

// #availableRoomsSection {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-template-rows: 1fr;
//   margin: 0;
//   margin-top: -10%;
//   height: 600px;
//   overflow: auto;
// }

.available-rooms-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  margin: 0;
  margin-top: -10%;
  height: 600px;
  overflow: auto;
}

img {
  width: 160px;
  height: 160px;
}

.smaller-set {
  display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 1fr;
  grid-gap: 2rem;
  margin: 0;
  margin-top: -10%;
  height: 600px;
  overflow: auto;
}

.available-rooms {
  width: 100%;
}

input {
  width: 40%;
}

.available-room {
  display: flex;
  justify-content: space-between;
}

.info-btn {
  height: 40px;
  width: 90px;
  align-self: center;
}


// MODAL

.user-input-modal {
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50vh;
  z-index: 10;
  top: 0;
  left: 0;
  // background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  // display: flex;
  display: none;
}

.user-input-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: 15% auto;
  padding: 0px;
  border: 1px solid #888;
  width: 450px;
  height: 500px;
  padding: 10px;
  // overflow-y: scroll;
  box-shadow: 0px 7px 29px 0px black;
}

.modal-img {
  width: 270px;
  height: 200px;
  align-self: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.user-input-content h5 {
  align-self: center;
}

article button {
  align-self: center;
  margin-bottom: 3%;
  height: 80px;
  width: 50%;
  cursor: pointer;
}

// IMAGE CLASSES

// .residential {
//   background: url('./images/img1.jpg') cover;
// }

.junior {

}

.suite {

}

.single {

}
// #previousBookings article::after {
//   position: absolute;
//   content: '';
//   width: 0;
//   height: 170px;
//   transform: translate(0px, -34.5px);
//   border-radius: 4px;
//   background: $main-grad;
//   transition: all .2s linear;
// }
//
// #previousBookings article:hover::after {
//   width: 90%;
// }


// .card-box {
//   background-color: #DBD7D2;
//   margin: 3% 0;
//   border-radius: 4px;
//   cursor: pointer;
//   height: 35px;
//   transition: all .2s ease;
// }
//
// .card-box p {
//   position: relative;
//   margin: 9px 0;
//   margin-left: 3%;
//   z-index: 2;
//   font-weight: 300;
//   font-size: 14px;
//   text-transform: uppercase;
// }
// .card-box p::after {
//   position: absolute;
//   font-family: "Font Awesome 5 Free";
//   content: '\f105';
//   font-weight: 900;
//   transform: translate(70px, 1px)
// }

@media screen and (max-width: 1100px) {
  .booking-section {
    width: 50%;
  }

  #availableRoomsSection {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    // height: 500px;
    // margin-top: -43%;
  }
}

@media screen and (max-width: 946px) {
  main {
    flex-direction: column;
  }

  .booking-section {
    order: 1;
    margin-bottom: 21%;
    width: 68%;
  }

  .user-dashboard {
    order: 2;
    margin-top: 10%;
  }

  .available-rooms-section {
    margin-top: 10%;
  }


  #availableRoomsSection {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    height: 400px;
    margin-top: -31%;
  }
}


.hidden {
  display: none;
}
